



<div class="container mt-32 mx-auto p-4">
  <!-- Page Title -->
  <h1 class="text-3xl font-bold text-[black] mb-6">Edit product</h1>

  <form (ngSubmit)="EndUpDate()" class="grid grid-cols-1 gap-6">
    <!-- Username -->






    <!-- User First name  and Last name -->
    <div class="p-2 grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- User First Name -->
      <div>
        <input
        [(ngModel)]="productForm.title" name="title"
        type="text" id="firstName" [value]="productForm.title" placeholder="First name" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-[#8c0327] focus:ring-[#8c0327] focus:ring-opacity-50 p-2" style="background-color: #f6f6f6;">
      </div>

      <!-- User Last name -->
      <div>
        <input
        [(ngModel)]="productForm.price" name="price"
        type="number" id="firstName" [value]="productForm.price" placeholder="Price" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-[#8c0327] focus:ring-[#8c0327] focus:ring-opacity-50 p-2" style="background-color: #f6f6f6;">
            </div>
    </div>

    <!-- Email -->
    <div class="p-2">
      <input
      [(ngModel)]="productForm.description" name="description"
      type="text" id="firstName" [value]="productForm.description" placeholder="Description" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-[#8c0327] focus:ring-[#8c0327] focus:ring-opacity-50 p-2" style="background-color: #f6f6f6;">
        </div>

    <!-- Current password -->
    <div class="p-2">
      <input
      [(ngModel)]="productForm.rating.rate" name="rating.rate"
      type="text" id="firstName" [value]="productForm.rating.rate" placeholder="Rating" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-[#8c0327] focus:ring-[#8c0327] focus:ring-opacity-50 p-2" style="background-color: #f6f6f6;">
        </div>

    <!-- New password and Confirm password -->
    <div class="p-2 grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- New password -->
      <div>
        <input
        [(ngModel)]="productForm.image" name="image"
        type="text" id="firstName" [value]="productForm.image" placeholder="Url Image" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-[#8c0327] focus:ring-[#8c0327] focus:ring-opacity-50 p-2" style="background-color: #f6f6f6;">
            </div>

      <!-- User Last name -->

    </div>


    <!-- Registration Button -->
    <div class="col-span-full mt-6 p-2">
      <button type="submit" class="block w-full bg-[#8c0327] hover:bg-[#6b0220] text-white font-bold py-3 px-4 rounded-full">
        Update
      </button>
    </div>
  </form>
</div>


